// LoginPage.module.scss
.loginMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.loginSection {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.loginHeadline, .loginSubHeadline {
  color: #333;
}

.loginForm {
  margin-top: 2rem;
}

.loginButton {
  width: 100%;
  background-color: #004aad;
  border-color: #004aad;
  &:hover {
    background-color: darken(#004aad, 10%);
    border-color: darken(#004aad, 10%);
  }
}

.forgotPassword {
  display: block;
  margin-top: 1rem;
  color: #004aad;
  cursor: pointer;
}

.signupPrompt {
  margin-top: 2rem;
}

.signupLink {
  color: #004aad;
  cursor: pointer;
}
